footer {
    background-color: #eee4da;
    margin-top: 40px;
    color: #8d623f;
}

footer span {
    font-size: 0.9rem;
}

.row1 {
    display: flex;
    padding: 35px 130px;
    padding-right: 180px ;
    gap: 25px;
}

.row1 .logo {
    flex: 1;
}

.row1 .title {
    font-size: 1.3rem;
    padding-left: 3px;
}

.row1 .follow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding-left: 23px; */
    width: fit-content;
}

.row1 .call {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 35px;
}

.row1 .follow .icons {
    display: flex;
    gap: 10px;
    width: 100%;
}

.icons svg {
    flex: 1;
    width: 25px;
    height: 25px;
}

footer hr {
    margin-top: 0;
    margin-bottom: 0;
}

.row2{
    display: flex;
    padding: 2px 130px 10px;
    gap: 38px;
    font-size: 1.2rem;
}

.row2 svg {
    width: 18px;
    height: 18px;
}

.copywrite {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copywrite .aling {
    display: flex;
    gap: 5px;
}

.row2 p {
    width: fit-content;
    font-size: 15px;
}