header {
    position: fixed;
    height: 115px;
    width: 100%;
    border-top: 20px solid white;
    background-color: #eee4da;
    cursor: default;
}

.row {
    display: flex;
    padding: 20px 130px;
    height: 70%;
}

.logo {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    flex: 1;
}

.nav .ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #8d623f;
}

.ul li {
    display: inline;
    font-size: 1.6rem;
}

.ul a li button {
    padding: 10px 40px;
    border-radius: 100px;
    border: 2px solid #8d623f;
    background-color: #8d623f;
    color: #eee4da;
    font-size: 1.2rem;
    cursor: pointer;
}

.ul a li button:active {
    background-color: #eee4da;
    color: #8d623f;
}