html,body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    padding-top: 135px;
    height: fit-content;
}

.cover{
    width: 100%;
    height: 100vh;
    display: flex;
    background: url("../images/landing_page/cover_photo.png") no-repeat;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.content p {
    color: #cebfac;
    margin: 0;
    font-size: 2.4em;
}

.content p span {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 1rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.buttons button {
    flex: 1;
    padding: 15px;
    font-size: 1.6rem;
    border-radius: 100px;
    color: #cebfac;
}

.buttons button:hover {
    background: transparent;
}

.buttons .fir {
    background-color: #3e2b1a;
    border: 2px solid #3e2b1a;
}

.buttons .sec {
    background-color: #554d40;
    border:2px solid #554d40;
}

/* -------------------------------sneak-----------------------------------------*/

.divide p {
    margin: 40px 0;
    font-size: 2rem;
    text-align: center;
    color: #492608;
}

/* ---------------------------------cards--------------------------------------------------- */

.temp {
    display: flex;
    width: 100%;
    height: fit-content;
}

.card{
    flex: 1;
    border-bottom: 1px solid #d1cecb;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.card div {
    border-right: 1px solid #d1cecb;
    padding: 30px 10px;
    text-align: center;
    font-size: 1.9rem;
    color: #5f4f42;
}

.card img{
    width: 100%;
    height: 580px;
}

/* -------------------------------------maps--------------------------------------- */

.maps {
    display: flex;
    padding-left: 10px;
}

.maps .map {
    flex: 1;
    border: 2px solid #89897f;
    height: 575px;
}

.maps .address_container{
    flex: 1;
}

.map img {
    width: 100%;
    height: 100%;
}

.address_container {
    padding: 75px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.border {
    padding: 40px 30px;
    border: 2px solid #b7b3b0;
    border-radius: 10px;
}

.border .line {
    font-size: 1.8rem;
    color: #5d4f46;
    display: flex;
    margin: 20px 0;
    gap: 10px;
}

.border .line .text {
    flex: 1;
}

.border .line svg {
    width: 25px;
    height: 25px;
    color: #5d4f46;
}