footer {
    margin-top: 0;
}

.title {
    text-align: center;
    color: #8d623f;
    font-size: 2.7rem;
    font-weight: 100;
}

.column {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* -----------------------------------card----------------------------------- */

.content {
    margin-bottom: 60px;
    cursor: default;
}

.aling {
    display: flex;
    padding: 45px 40px;
}

.even{
    justify-content: flex-start;
}

.odd{
    justify-content: flex-end;
}

.first {
    padding-top: 20px;
}

.card{
    text-align: center;
    width: 75%;
}

.card .center {
    height: 200px;
    display: flex;
    justify-content: center;
}

.card .center div {
    padding-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.card .angela div {
    background: url("../../images/testimonials/angela.jpg");
    background-position: center;
    background-size: cover;
}

.card .robin div {
    background: url("../../images/testimonials/robin.jpg");
    background-position: center;
    background-size: cover;
}

.card .emma div {
    background: url("../../images/testimonials/emma.jpg");
    background-position: center;
    background-size: cover;
}

.card .david div {
    background: url("../../images/testimonials/David.jpeg");
    background-position: center;
    background-size: cover;
}

.card h1 {
    font-size: 2.4rem;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8d623f;
}

.card p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* -----------------------------------image----------------------------------- */

.column .image {
    width: 100%;
    height: 100%;
    background: url("../../images/testimonials/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}